node_modules/
.DS_Store
dist/
.env
.vscode/
.idea/
coverage/
npm-debug.log
yarn-error.log
yarn-debug.log
*.local
*.log
*.tsbuildinfo
.cache
.sass-cache
.vite
build/
.next/
out/
public/build/
public/dist/
public/uploads/
uploads/
.env.local
.env.development.local
.env.test.local
.env.production.local